.side-bar{
    text-align: center;
}

.side-bar-app-name,
.side-bar-app-icon{
    background-color: #1A345A;
    padding: 13px 0px;
    border-radius: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0 !important;
}

.menu-item-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.delete-button {
    margin-right: 8px;
}

.table-name {
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anticon.anticon-left {
    color: #9fd2ff;
}

.anticon.anticon-right {
    color: #9fd2ff;
}